<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desc %><br>
    <%= form.text_area :desc %>
  </div>

  <div class="field">
    <%= form.label :startbid %><br>
    <%= form.text_field :startbid %>
  </div>

  <div class="field">
    <%= form.label :deadline %><br><br>
    <%= form.datetime_select :deadline, class: "minimal" %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
    <% if form.object.image? %> <%= image_tag form.object.image.thumb.url %><% end %> 
  </div>

  <div class="actions">
    <%= form.submit %><br><br>
  </div>
<% end %>
