<p id="notice"><%= notice %></p>

<h1>Products</h1>

  <% @products.each do |product| %>
    <% if Time.now <= product.deadline %>
      <span style="float: right; display: inline;"> <% if product.image.thumb.url %><%= image_tag product.image.thumb.url %><% end %><br><br> </span>
      Name: <%= product.name %><br><br>
      User: <%= product.uname %><br><br>
      Startbid: <%= product.startbid %><br><br>
      Deadline: <%= product.deadline.strftime("%Y-%m-%d %H:%M:%S") %>  UTC<br><br>
      Price: <%= product.price %><br><br>
      <%= link_to 'Show', product %><br><br>
      <% if product.user_id != current_user.id %>
        <% if product.bb == current_user.id %>
          You are the highest bidder
        <% else %>
          <% if product.tbid > 0 %>
            <%= form_with(model: product, local: true) do |form| %>
              <%= form.text_field :price %>
              <%= submit_tag 'Bid', name: 'bid', class: "btn " %> <br><br>
       
            <% end %>
          <% else %>
            <%= link_to 'Bid', product, method: :bid %>
          <% end %>
        <% end %>
      <% end %>
      <hr>   
    <% end %>
    <% if Time.now > product.deadline && product.bb == current_user.id && product.claimed_by == nil && product.user_id != current_user.id %>
      <span style="float: right; display: inline;"> <% if product.image.thumb.url %><%= image_tag product.image.thumb.url %><% end %><br><br> </span>
      Name: <%= product.name %><br><br>
      User: <%= product.uname %><br><br>
      Contact: <%= product.contact %><br><br>
      Price: <%= product.price %><br><br>
      <%= link_to 'Claim', product, method: :bid %>
    <% end %>

  <% end %>
  


<br><br>
