

<span style="float: right; display: inline;"> <% if @product.image.thumb.url %><%= image_tag @product.image.thumb.url %><% end %><br><br> </span>

<p>
  <h4><%= @product.name %></h4>
  
</p>

<p>
  <strong>User:</strong>
  <%= @product.uname %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Startbid:</strong>
  <%= @product.startbid %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @product.deadline.strftime("%d-%m-%Y  %H:%M:%S") %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @product.contact %>
</p>

<% if @product.tbid != 0 %><p>
  <strong>Price:</strong>
  <%= @product.price %>
</p><% end %>

<p>
  <strong>Total no of bids:</strong>
  <%= @product.tbid %>
</p>

<br>
<br>
<br>
<br>

<%= link_to 'Home', products_url %>
<%= link_to 'Back', :back %>

